version: "3"
services:
  site:
    image: djbnjack/techmusings.nl-site
    build: ./site
    ports:
      - "8080:80"
    depends_on:
      - api
  api:
    image: djbnjack/techmusings.nl-api
    build: ./api
    ports:
      - "5000:5000"